<div class="contents">
  <div class="lesson-wrapper">
    <div class="container">
      <div class = "lessons">
        <div class = "lesson">
          <%= link_to "#" , class:"login__btn" do%>
            日報
          <% end%>
        </div>
        <div class = "lesson">
          <%= link_to "#", class:"login__btn" do%>
            勤務表
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>