.content {
  margin: 0px auto;
  background-color: #fff;
  width: 70%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  .content__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .postManage {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    &__edit {
      display: block;
      border-radius: 5px;
      color: black;
      background-color: #d4b4b4c4;
      padding: 0 10px;
      text-decoration: none;
      margin-right: 10px;
    }
    &__delete {
      display: block;
      border-radius: 5px;
      color: black;
      background-color: #d4b4b4c4;
      padding: 0 10px;
      text-decoration: none;
      margin-left: 10px;
    }
  }
  .form {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    &__title {
      border: 1px solid #aaa;
    }
    &__text {
      border: 1px solid #aaa;
    }
  }
}
