.content__title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.postManage{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  &__edit{
    display: block;
    border-radius: 5px;
    color: #ffffff;
    background-color:#55c500;
    padding: 0 10px;
    text-decoration: none;
    margin-right: 10px;
  }
  &__delete{
    display: block;
    border-radius: 5px;
    color: #ffffff;
    background-color:#55c500;
    padding: 0 10px;
    text-decoration: none;
    margin-left: 10px;
  }
}
.form{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  &__title{
    border: 1px solid #aaa;
    display: block;
    width: 100%;
    height: 50px;
  }
  &__text{
    border: 1px solid #aaa;
    display: block;
    width: 100%;
    height: 50%;
    margin-top: 15px;
  }
  &__btn{
    display: block;
    width: 30%;
    margin: 15px auto;
    -webkit-appearance: button;
  }
}