// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #f7f7f7;
  .header {
    display: flex;
    justify-content: space-between;
    // position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #d4b4b4c4;
    &__top {
      font-size: 35px;
      padding: 7px 10%;
      a {
        text-decoration: none;
        color: black;
      }
    }
    &__title {
      padding-left: 112px;
      font-size: 30px;
      line-height: 56px;
      text-align: center;
      padding-top: 4px;
      a {
        text-decoration: none;
        color: black;
      }
    }
    &__user {
      font-size: 17px;
      padding: 21px 15%;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  .main {
    width: 100%;
    background-color: #f7f7f7;
    overflow: scroll;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    margin: 15px;
    .top {
      background-color: white;
      width: 60%;
      height: calc(100vh - 115px);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__contents {
        padding: 30px;
        box-shadow: 0 0 0px rgba(41, 41, 41, 0.2);
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        &--btn {
          padding-bottom: 123px;
          height: 30px;
          width: 100%;
          .link__btn {
            padding: 34px 29%;
            background-color: khaki;
            box-shadow: 0 3px 0 #888888;
            color: black;
            text-decoration: none;
            font-size: 40px;
            padding-bottom: 26px;
          }
        }
      }
    }
  }
}
