<div class = "content">
  <div class = "content__title">
    下記の内容を記載して変更してください。
  </div>
  <%= form_with model: @group, class: :form__group, local: true do |form| %>
    
    <div class= "form__group--tag">
      <div class= "input">
        <span>担当部署 :</span>
        <input name= "name" type="hidden" value=<%= @group.name%>>
        <p class="chat-group-user__name"> <%= @group.name %></p>
      </div>

      <div class= "form__group--name">
        <div class = "input">
          <p class= "input__members">所属メンバー :</p>
        </div>

        <div class = "input__groups">
          <div class = "form__user">
            <input name="group[user_ids][]" type="integer">
        </div>
        </div>
      </div>
    </div>
    <%= form.submit 'データ送信', class: :form__btn %>
  <% end %>
</div>
