<div class = "content">
  <div class = "contens">
    <div class="weather__title">
      東京の天気
    </div>
    <div class= "weather"id = "weather">
      <%# <div class = "weather__group" id = "city-name">
        <div class = "weather__group--image">
          画像
        </div>
        <div class= "weather__group--information">
          天気情報
        </div>
      </div> %>
    </div>
  </div>
</div>
