<div class="contents">
  <div class="contents__today">
    2020年2月23日
  </div>
  <div class="contents__btn-list">
    <div>
      <button class="contents__btn-list__work-start">出勤</button>
      <p class="contents__btn-list__push-time-now">11:00</p>
    </div>
    <div>
      <button class="contents__btn-list__work-end">退勤</button>
      <p class="contents__btn-list__push-time-now">19:00</p>
    </div>
  </div>
  <div class="contents__remarks-area">
    <textarea class="contents__remarks-area__remarks" placeholder="備考"></textarea>
  </div>
</div>