<div class="title">2020年02月の勤務表</div>

<table class="list">
  <tr class="list__headers">
    <th class="list__headers__header">日付</th>
    <th class="list__headers__header">出勤</th>
    <th class="list__headers__header">退勤</th>
    <th class="list__headers__header">備考</th>
  </tr>
  <tr class="list__contents">
    <td>2020年02月01日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月02日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月03日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月04日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月05日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月06日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月07日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月08日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月09日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月10日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月11日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月12日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月13日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月14日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月15日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月16日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月17日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="contents">
    <td>2020年02月18日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月19日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月20日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月21日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月22日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月23日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月24日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月25日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月26日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月27日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月28日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
  <tr class="list__contents">
    <td>2020年02月29日</td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="11:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="19:00"></td>
    <td class="list__contents__performance"><input type="text" disabled="disabled" value="腹痛のため遅刻"></td>
  </tr>
</table>