<div class="title">2020年02月の勤務表</div>

<table class="list">
  <tr class="list__headers">
    <th class="list__headers__header">日付</th>
    <th class="list__headers__header">出勤</th>
    <th class="list__headers__header">退勤</th>
    <th class="list__headers__header">備考</th>
  </tr>
  <% @attendance_list.each do |attend| %>
    <tr class="list__contents">
      <td><%= attend.days %></td>
      <td class="list__contents__performance"><input type="text" disabled="disabled" value="<%= attend.work_start %>"></td>
      <td class="list__contents__performance"><input type="text" disabled="disabled" value="<%= attend.work_start %>"></td>
      <td class="list__contents__performance"><input type="text" disabled="disabled" value="<%= attend.remarks %>"></td>
    </tr>
  <% end %>
</table>