<div class = "reports">
  <div class="reports__left">
    <%=report.date%>
  </div>
  <div class="reports__right">
    <div class="reports__right__top">
      <%= @group.name %>
    </div>
    <div class="reports__right__name">
      <%= report.user.name %>
    </div>
  </div>
</div>
