<div class="content__title">
  記事編集
</div>

<%= form_with model: @report, class: :form, local: true do |form| %>
  <%= form.text_field :date, placeholder: :日付, class: :form__title %>
  <%= form.text_area :text, placeholder: :日報記事内容, class: :form__text , content__titles: "10", id: "content" %>
  <%= form.submit '記事送信', class: :form__btn %>
<% end %>