<div class="top">
  <div class="top__contents">
    <div class = "top__contents--btn">
      <%= link_to new_report_path, class:"link__btn" do%>
        新規作成
      <% end%>
    </div>
    <div class = "top__contents--btn">
      <%= link_to "#", class:"link__btn" do%>
        過去履歴
      <% end%>
    </div>
  </div>
</div>
