<div class = "content">
  <div class="content__title">
    記事の詳細
  </div>
  <div class="postManage">
    <%= link_to "編集", edit_group_report_path(@report.id), class: "postManage__edit" %>
    <%= link_to "削除", group_report_path(@report), method: :delete, class: "postManage__delete", data:{confirm: "削除しますか？"}  %>
  </div>

  <div class= "form">
    <p>
      <%= @report.date %>
    </p>
    <div class= "form__text">
      <%= @report.text %>
    </div>
  </div>
</div>