<div class="main">
  <div class="top">
    <div class="top__contents">
      <div class = "top__contents--btn">
        <%= link_to new_group_report_path(@group), class:"link__btn" do%>
          新規作成
        <% end%>
      </div>
      <div class = "top__contents--btn">
        <%= link_to group_reports_path, class:"link__btn" do%>
          過去履歴
        <% end%>
      </div>
    </div>
  </div>
  <%= render partial: "top/side" %>
</div>